:root{
     --color-primary: #444;
     --color-accent: #009aee;
     --color-accent--700: #0d6efd;
     --clr-accent-sec:#f63877;

     --bg-primary:#fefefe;
     --bg-secondary:#e7e7e7;

}

body *{
     font-family:'Spartan', sans-serif !important;
     color: var(--color-primary) !important;

     font-size: 16px;
     line-height: 1.24; 
}
/**main START**/
main#main{
     position: relative;
}
     /* banner START */
     #main .banner{
          position: relative; /*! to remove */
     }    
          /*--intro*/
          .banner .intro{
            position: relative; /*! to remove */   
          }
               .intro .title{
                    font-size: calc(1.7rem + 1vw);
                    font-weight: 700;

                    margin-bottom: calc(.8rem + 2vw);
               }
               .intro .intro_p{
                    line-height: 1.5;
                    margin-bottom: calc(1rem + 2vw);
               }
               .intro_button{
                    text-align: center;
               }
               .intro_button button{
                    min-width: 96% ;
                    margin-bottom: calc(1.5rem + 2vw);
                    padding: .5rem 1rem !important;
                    color: var(--bg-primary) !important;
                    height: 42px;
                    border: none;

                    transition: background-color 0.6s ease-in ;
               }
               .intro_button button:first-of-type{
                    background-color: var(--color-accent);
               }
               .intro_button button:first-of-type:hover,
               .intro_button button:first-of-type:focus,
               .intro_button button:first-of-type:active{
                    background-color: var(--clr-accent-sec);
                    box-shadow: none;
               }
               .intro_button button:last-of-type{
                    background-color: var(--color-accent--700);
               }
               .intro_button button:last-of-type:hover,
               .intro_button button:last-of-type:focus,
               .intro_button button:last-of-type:active{
                    background-color: var(--clr-accent-sec);
                    box-shadow: none;
               }

          /*--banner_show*/
          .banner_show{
               position: relative;
          }
          .banner_show .banner_show_img{
               max-width: 90%;
          }

               /* banner decoration div START */
               .banner_show .banner_deco{
                    position: absolute;
                    z-index: -1;
                    height: 100%;
                    width: 100%;
               }
                    /*all shapes*/
                    .banner_deco .shape{
                         position: absolute;
                         background-color: var(--bg-primary);
                         z-index: 2000;
                    }
                    .shape.circle{
                         border-radius: 50%;
                         border: 10px solid;

                         transition: top 1s ease, left 1s ease;
                    }
                         .circle.c_turquoise{
                              width: 70px;
                              height: 70px;
                              border: 15px solid turquoise;

                              top:3%;
                              left:3%;
                         }
                         .circle.c_khaki{
                              width: 40px;
                              height: 40px;
                              border: 10px solid khaki;

                              top:5%;
                              left:30%;
                         }
                         .circle.c_indigo{
                              width: 35px;
                              height: 35px;
                              border: 8px solid indigo;

                              top:-9%;
                              left:45%;
                         }
                         .circle.c_lavenderblush{
                              width: 60px;
                              height: 60px;
                              border: 10px solid lavenderblush;

                              top:70%;
                              left:75%;
                         }
                         .circle.c_powderblue{
                              width: 80px;
                              height: 80px;
                              border: 20px solid powderblue;

                              top:60%;
                              left:45%;
                         }



               /* banner decoration div END */

          /*--banner_show END */
     /* banner END */











          
          
          
    

/**main END**/
