:root{
     --color-primary: #444;
     --color-accent: #009aee;
     --clr-accent-sec:#f63877;

     --bg-primary:#fefefe;
     --bg-secondary:#e7e7e7;

}

body *{
     font-family:'Spartan', sans-serif !important;
     color: var(--color-primary) !important;
}